@model BookingDetailVM
<br />
<div class="bs-component">
    <div class="jumbotron d-flex justify-content-center">
        <div class="col-lg-6">
            <form asp-controller="Bookings" asp-action="Booking" class="form-group">
                <div class="row d-flex justify-content-center">
                    <div class="form-group">
                        <label class="col-form-label" for="inputDefault">Booking for: </label>
                        <span class="label label-success" style="font-size:30px">@Model.HotelName</span>
                        <div id="HotelPrice" style="display:none">@Model.BedPricePerNight</div>
                        <div id="TransportPrice" style="display:none">@Model.PriceForTransport</div>
                        <input asp-for="HotelName" type="text" value="@Model.HotelName" style="display:none" />
                        <input asp-for="HotelLocation" type="text" value="@Model.HotelLocation" style="display:none" />
                        <input asp-for="PriceForTransport" type="text" value="@Model.PriceForTransport" style="display:none" />
                        <input asp-for="BedPricePerNight" type="text" value="@Model.BedPricePerNight" style="display:none" />
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between">
                        <div>
                            <label for="SelectedDateFrom" class="col-md-2 control-label">Starting</label>
                            <br />
                            <input type="date" name="SelectedDateFrom" id="date1" value="" />
                            <span asp-validation-for="SelectedDateFrom" class="text-danger"></span>
                        </div>
                        <div>
                            <label for="SelectedDateTo" class="col-md-2 control-label">Ending</label>
                            <br />
                            <input type="date" name="SelectedDateTo" id="date2" value="" />
                            <span asp-validation-for="SelectedDateTo" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row col-lg-12 d-flex justify-content-between">
                        <label class="control-label">Persons or Beds</label>
                        <br />
                        <div>
                            <select asp-for="NoPplForHotel" id="NumberofPeopleRoom" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between">
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Activity</label>
                            <select asp-for="ActivitySelected" asp-items="Model.SelectionActivityList" class="form-control" id="ActivityList"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">No. of persons</label>
                            <select asp-for="NoPplForActivity" id="NumberofPeopleActivity" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row col-lg-12">
                        <div class="custom-control custom-checkbox d-flex justify-content-around">
                            <input asp-for="RentEquipmentSelected" type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Rent Equipment</label>
                        </div>
                    </div>
                    <br />
                    <div class="custom-control custom-checkbox">
                        <input asp-for="TransportServiceSelected" type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3">Transport service, € 35</label>
                        <br />
                        <div class="d-flex justify-content-around align-items-end" style="width:120%;">
                            <div>
                                <label>Price, Equipment €:</label>
                                <input type="text" readonly="" class="form-control-plaintext" id="staticPriceEquipment" value="" style="color:#fffcf7">
                            </div>
                            @*<div>
                                    <label>Price, Transport €:</label>
                                    <input type="text" readonly="" class="form-control-plaintext" id="staticPriceTransport" value="" style="color:#fffcf7">
                                </div>*@
                            <div>
                                <label>Price, Hotel €:</label>
                                <input type="text" readonly="" class="form-control-plaintext" id="staticPriceHotel" value="" style="color:#fffcf7">
                            </div>
                            <div>
                                <label>Total Price €:</label>
                                <input type="text" readonly="" class="form-control-plaintext" id="staticPriceAll" value="" style="color:#fffcf7">
                            </div>
                        </div>
                        @*<label class="control-label">Hotel room price per night: @Model.BedPricePerNight €</label>
                            <label class="col-form-label" id="TotalHotelAmount"></label>*@
                    </div>
                </div>
                <br />
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="col-form-label">Contact Details</label>
                            <div class="d-flex justify-content-around">
                                <input asp-for="FistName" type="text" class="form-control" placeholder="First Name" id="inputFullName">
                                <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name" id="inputFullName">
                            </div>
                            <div class="d-flex justify-content-around">
                                <span asp-validation-for="FistName" class="text-danger"></span>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input asp-for="EmailAddress" type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Email&#64example.com">
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Phone number</label>
                            <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="+" id="inputPhone">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Book" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

