@model AddHotelVM
<br />
<div class="bs-component">
    <div class="jumbotron d-flex justify-content-center">
        <div class="col-lg-6">
            <form asp-controller="Details" asp-action="AddHotel" class="form-group">
                <div class="row d-flex justify-content-center">
                    <div class="form-group">
                        <label class="col-form-label" for="inputDefault">New Hotel, please fill in all boxes! </label>
                        <span class="label label-success" style="font-size:30px">@Model.HotelName</span>
                        <div id="HotelPrice" style="display:none">@Model.BedPricePerNight</div>
                        <div id="TransportPrice" style="display:none">@Model.PriceForTransport</div>
                        <input asp-for="HotelName" type="text" value="@Model.HotelName" style="display:none" />
                        <input asp-for="HotelLocation" type="text" value="@Model.HotelLocation" style="display:none" />
                        <input asp-for="PriceForTransport" type="text" value="@Model.PriceForTransport" style="display:none" />
                        <input asp-for="BedPricePerNight" type="text" value="@Model.BedPricePerNight" style="display:none" />
                        <input asp-for="HotelName" type="text" placeholder="Hotel Name" />
                        <input asp-for="HotelLocation" type="text" placeholder="Hotel Location" />
                        <input asp-for="HotelDescription" type="text" placeholder="Short Hotel Description" />
                        <input asp-for="HotelAdress" type="text" placeholder="Hotel Adress or GPS coordinates" />
                        <input asp-for="TotalNrOfBeds" type="number" placeholder="Number of beds or rooms" />
                        <input asp-for="BedPricePerNight" type="number" placeholder="Average cost per night, per person, per room" />
                        <input asp-for="PriceForTransport" type="number" placeholder="Cost for transport" />
                        <input asp-for="HotelPic1" type="text" placeholder="url to picture 1" />
                        <input asp-for="HotelPic2" type="text" placeholder="url to picture 2" />
                        <input asp-for="HotelPic3" type="text" placeholder="url to picture 3" />
        </div>
                </div>
            </form>

                <br />
                <div class="form-group row col-lg-12 d-flex justify-content-between">
                    <label class="control-label">Persons or Beds</label>
                    <br />
                    <div>
                        //input for nr of beds/rooms
                    </div>
                </div>
        </div>

        //list of activities to asociate with hotel
        @*<div class="col-lg-12">
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <label class="col-form-label" for="inputDefault">Activity</label>
                        <select asp-for="ActivitySelected" asp-items="Model.SelectionActivityList" class="form-control" id="ActivityList"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">No. of persons</label>
                        <select asp-for="NoPplForActivity" id="NumberofPeopleActivity" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row col-lg-12">
                    <div class="custom-control custom-checkbox d-flex justify-content-around">
                        <input asp-for="RentEquipmentSelected" type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Rent Equipment</label>
                    </div>
                </div>
                <br />

            </div>*@
        <br />
        <hr />

        <div class="col-md-12">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Book" />
        </div>
    </div>
</div>

     
