@model AdminVM
<br />
<br />
<br />
<br />
<br />
<div class="override">
    <h4>Logged in as: @Model.UserName</h4>
    <p class="lead">These are the bookings right now:</p>
    <table class="table table-dark">
        <thead>
            <tr>
                <td>BookingId</td>
                <td>TimeStamp</td>
                <td>DateFrom</td>
                <td>DateTo</td>
                <td>HotelName</td>
                <td>NoPplForHotel</td>
                <td>ActivityId</td>
                <td>NoPplForActivity</td>
                <td>RentEquipment</td>
                <td>Transport</td>
                <td>FirstName</td>
                <td>LastName</td>
                <td>BookingEmail</td>
                <td>BookingPhone</td>
                <td>TotalCost</td>
                <td>TotalNoNights</td>
                <td>Delete Booking</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Bookings)
            {
                <tr class="table-dark">
                    <td> @item.BookingId </td>
                    <td> @item.TimeStamp </td>
                    <td> @item.DateFrom </td>
                    <td> @item.DateTo </td>
                    <td> @item.HotelName </td>
                    <td> @item.NoPplForHotel </td>
                    <td> @item.ActivityId </td>
                    <td> @item.NoPplForActivity </td>
                    <td> @item.RentEquipment </td>
                    <td> @item.Transport </td>
                    <td> @item.FirstName </td>
                    <td> @item.LastName </td>
                    <td> <a href="mailto:@item.BookingEmail">@item.BookingEmail </a></td>
                    <td> @item.BookingPhone </td>
                    <td> @item.TotalCost </td>
                    <td> @item.TotalNoNights </td>
                    <td>
                        <a @*asp-controller="Bookings" asp-action="DeleteBooking" asp-route-id="@item.Id"*@ onclick="ConfirmMessage(@item.Id)" class="btn btn-outline-primary btn-lg btn-block">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
