@model ManageActVM
<br />
<br />
<br />
<br />
<br />
<div class="override">

    <p class="lead">HOTELS AND ACTIVITIES:</p>
    <div class="d-flex justify-content-center">
        <table class="table table-dark">
            <thead>
                <tr>
                    <td>Hotels</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Hotels)
                {
                    <tr class="table-dark">
                        <td><a asp-controller="Members" asp-action="ShowActivites" asp-route-id="@item.Id" onclick="JSshowactivites(@item.Id"> @item.HotelName </a></td>
                    </tr>
                }
            </tbody>
        </table>

        <table class="table table-dark">
            <thead>
                <tr>
                    <td>Activities</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Activities)
                {
                    <tr class="table-dark">
                        <td><a asp-controller="Members" asp-action="ShowHotels" asp-route-id="@item.Id" onclick="JSshowactivites(@item.Id"> @item.ActivityName </a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
