@model AdventuresVM
<div class="bs-component">
    <div class="jumbotron">
        <div class="hotelsdetail"></div>
        <h2 class="display-3">@Model.ActivityName</h2>
        <div class="d-flex justify-content-around">
            <div>
                <p>@Model.ActivityDescription</p>
                <p>@Model.ActivityPrice</p>
                <p>Price for renting equipment €: @Model.ActivityRentalPrice</p>
            </div>
            <img src="@Model.ActivityPic1" class="detailsimage" />
        </div>
        <br />
        <br />
        <div class="d-flex justify-content-around">
            <img src="@Model.ActivityPic2" class="detailsimage" />
         <p>Locations that offer @Model.ActivityName:</p>
        
        </div>
    </div>
</div>
