@model HotelDetailVM
<div class="bs-component">
    <div class="jumbotron">
        <div class="hotelsdetail"></div>
        <h2 class="display-3">@Model.HotelName</h2>
        <div class="d-flex justify-content-center">
            <p>@Model.HotelLocation</p>
            <p>@Model.HotelDescription</p>
            <p>@Model.BedPricePerNight</p>
            <p>@Model.PriceForTransport</p>
            <p>@Model.TotalNrOfBeds</p>
            <p>@Model.BedPricePerNight</p>
            <img src="~/images/hotelalpha.jpg" />
        </div>        
        <br />
        <br />
        <div class="d-flex justify-content-around">
            <img src="~/images/hotelalpha.jpg" />
            <p>Many activities both summer and winter, inkluding:</p>
            <ul>
            @foreach (var item in Model.ActivityList)
            {
            <li>@item.ActivityName;</li>
            }            
            </ul>
        </div>
    </div>
</div>
