@model HotelDetailVM
<div class="bs-component">
    <div class="jumbotron">
        <div class="hotelsdetail"></div>
        <h2 class="display-3">@Model.HotelName</h2>
        <div class="d-flex justify-content-center">
            <div>
                <p>Location: @Model.HotelLocation</p> @*Lägg in liten googlemaps??*@
                <p>@Model.HotelDescription</p>
                <p>Price per night €: @Model.BedPricePerNight</p>
                <p>Price for transport €: @Model.PriceForTransport</p>
                <p>Total number of beds: @Model.TotalNrOfBeds</p>
            </div>
            <img src="@Model.HotelPic2" class="detailsimage" />
        </div>        
        <br />
        <br />
        <div class="d-flex justify-content-around">
            <img src="@Model.HotelPic3" class="detailsimage"  />
            <p>Many activities both summer and winter, inkluding:</p>
            <ul>
            @foreach (var item in Model.ActivityList)
            {
            <li>@item.ActivityName;</li>
            }            
            </ul>
        </div>
    </div>
</div>
