@model List<AdminVM>
<div class="row">
    <div class="col-lg-12">

        <div class="bs-component">
            <div class="jumbotron">
                <div class="img"></div>
                <h1 class="display-3">Logged in As USERNAME</h1>
                <p class="lead">These are the bookings right now:</p>
                <hr class="my-4">

                <div class="d-flex justify-content-center">
                    !!Table of bookings with delete button!!
                    
                    <table>
                        <thead>
                           <tr>
                               <td>@Model.BookingId</td>
                               <td>@Model.TimeStamp</td>
                               <td>@Model.DateFrom</td>
                               <td>@Model.DateTo</td>
                               <td>@Model.HotelName</td>
                               <td>@Model.NoPplForHotel</td>
                               <td>@Model.ActivityId</td>
                               <td>@Model.NoPplForActivity</td>
                               <td>@Model.RentEquipment</td>
                               <td>@Model.Transport</td>
                               <td>@Model.FirstName</td>
                               <td>@Model.LastName</td>
                               <td>@Model.BookingEmail</td>
                               <td>@Model.BookingPhone</td>
                               <td>@Model.TotalCost</td>
                               <td>@Model.TotalNoNights</td>
                               <td>Delete Booking</td>
                           </tr>
                        </thead>
                        <tbody>
                            @foreach item in Model.Bookings(
                                 <tr>

             < td > @Model.BookingId </ td >
          < td > @Model.TimeStamp </ td >
          < td > @Model.DateFrom </ td >
          < td > @Model.DateTo </ td >
          < td > @Model.HotelName </ td >
          < td > @Model.NoPplForHotel </ td >
          < td > @Model.ActivityId </ td >
          < td > @Model.NoPplForActivity </ td >
          < td > @Model.RentEquipment </ td >
          < td > @Model.Transport </ td >
          < td > @Model.FirstName </ td >
          < td > @Model.LastName </ td >
          < td > @Model.BookingEmail </ td >
          < td > @Model.BookingPhone </ td >
          < td > @Model.TotalCost </ td >
          < td > @Model.TotalNoNights </ td >
          < td > X </ td >

          </tr>
   )
                               
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>